* 
{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#HI 
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#US
{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 3vh;
    padding: 10px;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #3b82f6, #0a84ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: box-shadow 0.2s, border-color 0.2s;
    outline: none;
    color: #333;
    border-radius: 20px;
}

#BR 
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 3vh;
    padding: 10px;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #3b82f6, #0a84ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: box-shadow 0.2s, border-color 0.2s;
    outline: none;
    color: #333;
    border-radius: 20px;
}

#CR 
{
    background: linear-gradient(135deg, #1e90ff, #0056b3); 
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(30, 144, 255, 0.4); 
    user-select: none;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 27vh;
}

#Murilo 
{
    font-size: medium;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#EX 
{
    background: linear-gradient(135deg, #ff4d4d, #b30000); 
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.4);
    user-select: none;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 20vh;
}